@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Strike&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-hex {
    clip-path: polygon(
      25% 5.77%, 75% 5.77%, 
      100% 50%, 
      75% 94.23%, 25% 94.23%, 
      0% 50%
    );
  }
  /* Splash screen layout */
.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #00C853, #AEEA00); /* green gradient */
  color: white;
}

/* Logo image */
.splash-logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

/* AGER text */
.splash-title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out both;
}

  